<div class="page-header">
  <div class="container">
    <div class="col-xs-12 col-sm-4 name no-padding-lr">News</div>
    <div class="col-xs-12 col-sm-8 breadcrumb">
      <ol class="breadcrumb">
        <li><%= link_to "Admin", admin_path %></li>
        <li class="active">News</li>
      </ol>
    </div>
  </div>
</div>

<div class="container">
  <%= render :partial => "shared/flash" %>
  <p>
    <%= link_to "Add new news", new_admin_news_path %>
  </p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Writer</th>
        <th>Short Content</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @all_news.each_with_index do |news, x| %>
        <tr>
          <th><%= @no+x+1 %></th>
          <td><%= news.title %></td>
          <td><%= news.user %></td>
          <td><%= news.short_content %></td>
          <td>
            <%= link_to "Edit", edit_admin_news_path(news.id), :class => "btn btn-success" %>
            <%= link_to "Delete", admin_news_path(news.id ), :method => :delete,
                                  :data => {:confirm => "Are you sure?"}, :class => "btn btn-warning" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="col-xs-12 no_padding_lr pagination"><%= paginate @all_news %></div>
</div>
