<div class="page-header">
  <div class="container">
    <div class="col-xs-12 col-sm-4 name no-padding-lr">Banners</div>
    <div class="col-xs-12 col-sm-8 breadcrumb">
      <ol class="breadcrumb">
        <li><%= link_to "Admin", admin_path %></li>
        <li class="active">Banners</li>
      </ol>
    </div>
  </div>
</div>

<div class="container">
  <%= render :partial => "shared/flash" %>
  <p><%= link_to "Add new banner", new_admin_banner_path %></p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Image</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @banners.each_with_index do |banner, x| %>
        <tr>
          <th><%= @no+x+1 %></th>
          <td><%= image_tag banner.try(:image).try(:url, :thumb) %></td>
          <td>
            <%= link_to "Edit", edit_admin_banner_path(banner.id), :class => "btn btn-success" %>
            <%= link_to "Delete", admin_banner_path(banner.id ), :method => :delete,
                                  :data => {:confirm => "Are you sure?"}, :class => "btn btn-warning" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="col-xs-12 no_padding_lr pagination"><%= paginate @banners %></div>
</div>
