<% content_for :javascript_includes do %>
  <%= javascript_include_tag "jstree" %>
  <%= stylesheet_link_tag  "jstree" %>
<% end %>

<div class="page-header">
  <div class="container">
    <div class="col-xs-12 col-sm-6 name no-padding-lr"><%= @category.name %></div>
    <div class="col-xs-12 col-sm-6 breadcrumb">
      <ol class="breadcrumb">
        <li><%= link_to "Home", root_path %></li>
        <li class="active"><%= @category.name %></li>
      </ol>
    </div>
  </div>
</div>
<div class="container">
  <%= render :partial => "shared/flash" %>
  <div class="hidden-xs col-sm-3 categories-box no-padding-lr">
    <div class="col-xs-12 no-padding-lr categories-box-title">
      <h3 class="col-sm-10 no-padding-lr">Categories</h3>
      <%#*<div class="col-sm-2">%>
        <%#*<span class="toggle " id="p_cat"><i class="fa fa-caret-down" aria-hidden="true"></i></span>%>
      <%#*</div>%>
    </div>
    <div class="col-xs-12 no-padding-lr categories-box-content" id="category-tree">
      <!--
      <%#*<ul class="product-categories active">%>
        <%# @categories.each do |cat| %>
          <%#*<li class="col-xs-12 no-padding-lr">%>
            <%# if cat.child_categories.blank? %>
              <%#= link_to cat.name.titleize, products_path(cat.permalink) %>
            <%# else %>
              <%#*<div class="col-sm-10 no-padding-lr"><%= cat.name.titleize %></div>%>
              <%#*<div class="col-sm-2">%>
                <%#*<span class="toggle toggle-child-cat"><i class="fa fa-plus" aria-hidden="true"></i></span>%>
              <%#*</div>%>
              <%#*<ul class="child-cat" style="display:none;padding-right: 2px;">%>
                <%# cat.child_categories.each do |child| %>
                  <%#*<li><%#= link_to child.name, products_path(child.permalink) %></li>%>
                  <%# if child.child_categories.blank? %>
                    <%#= link_to child.name, products_path(child.permalink) %>
                  <%# else %>
                    <%#*<div class="col-sm-10 no-padding-lr"><%= child.name.titleize %></div>%>
                    <%#*<div class="col-sm-2">%>
                      <%#*<span class="toggle toggle-child-cat">%>
                        <%#*<i class="fa fa-plus" aria-hidden="true"></i>%>
                      <%#*</span>%>
                    <%#*</div>%>
                    <%#*<ul class="child-cat" style="display:none;">%>
                      <%# child.child_categories.each do |gs_child| %>
                        <%#*<li><%= link_to gs_child.name, products_path(gs_child.permalink) %></li>%>
                      <%# end %>
                    <%#*</ul>%>
                  <%# end %>



                <%# end %>
              <%#*</ul>%>
            <%# end %>
          <%#*</li>%>
        <%# end %>
      </ul>
      !-->



      <ul class="nav nav-list" id="parent">
        <% @categories.each do |cat| %>
          <li>
            <% if cat.child_categories.blank? %>
              <%= link_to cat.name.titleize, products_path(cat.permalink) %>
            <% else %>
              <label class="tree-toggler nav-header">
                <%= cat.name.titleize %>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </label>
              <% cat.child_categories.each do |child| %>
                <ul class="nav nav-list tree child">
                  <li>
                    <% if child.child_categories.blank? %>
                      <%= link_to raw("#{image_tag 'blue_arrow.png'} #{child.name}"),
                                  products_path(child.permalink) %>
                    <% else %>
                      <label class="tree-toggler nav-header">
                        <%= image_tag 'blue_arrow.png' %>
                        <%= child.name.titleize %>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </label>
                      <% child.child_categories.each do |gs_child| %>
                        <ul class="nav nav-list tree gs-child">
                          <li>
                            <%= link_to raw("#{image_tag 'green_arrow.png'} #{gs_child.name}"),
                                          products_path(gs_child.permalink) %>
                          </li>
                        </ul>
                      <% end %>
                    <% end %>
                  </li>
                </ul>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-sm-9 p-l-30">
    <div class="col-xs-12 product-search">
      <div class="col-sm-12 col-sm-7 no-padding-l m-b-10">
        <%= form_tag product_search_path, :method => :get do %>
        <div class="input-group">
          <%= text_field_tag :keyword, params[:keyword], :class => "form-control", :placeholder => "Search for..." %>
          <span class="input-group-btn">
            <%= submit_tag "Search", :class => "btn btn-default" %>
          </span>
        </div>
        <% end %>
      </div>
      <div class="col-sm-12 col-sm-5 no-padding-l products-order">
        <%= select_tag "order_by", options_for_select(order_item, params[:order_by]),
                     :onchange => "update_list_product('#{@category.permalink}',this);" %>
      </div>
    </div>
    <% @products.each do |product| %>
      <div class="col-xs-6 col-md-4 product">
          <div class="product-image">
            <% product.product_images.sample(2).each_with_index do |img, x| %>
            <% style = x%2 == 0 ? 'first-img' : 'second-img' %>
            <%= link_to (image_tag img.image.url(:medium), :class => "img-responsive #{style}"),
                        product_detail_path(:cat_permalink => @category.permalink,
                                            :prod_permalink => product.permalink) %>
            <% end %>
          </div>
          <div class="product-name">
            <%= product.name.titleize %>
          </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {

      $('label.tree-toggler').click(function () {
        //$("ul#parent > li > ul.son").hide();

        $(this).parent().children('ul.tree').toggle(300, function() {
          $('.gs-child').each(function() {
            var $this = $(this);
            if($(this).is(":visible")){
              $(this).parents().find('i').removeClass( "fa-plus" );
              $(this).parents().find('i').addClass( "fa-minus" );
            }else{
              $(this).parents().find('i').removeClass( "fa-minus" );
              $(this).parents().find('i').addClass( "fa-plus" );
            }
          });
        });

      });

      $("span#p_cat").click(function() {
        if($("ul.product-categories").hasClass( "active" )){
          $("ul.product-categories").removeClass( "active" )
          $(".categories-box > h3").css( "border-radius", "6px" );
          $(".categories-box > h3 i").removeClass( "fa-caret-down" );
          $(".categories-box > h3 i").addClass( "fa-caret-up" );
          $("ul.product-categories").slideUp("fast");
        }else{
          $("ul.product-categories").addClass( "active" )
          $(".categories-box > h3").css( "border-radius", "6px 0px" );
          $(".categories-box > h3 i").removeClass( "fa-caret-up" );
          $(".categories-box > h3 i").addClass( "fa-caret-down" );
          $("ul.product-categories").slideDown("fast");
        }
      })
      $("span.toggle-child-cat").click(function() {
        if($(this).parent().next().hasClass( "active" )){
          $(this).parent().next().removeClass( "active" )
          $(this).parent().next().slideUp("fast");
          $(this).children().removeClass( "fa-minus" );
          $(this).children().addClass( "fa-plus" );
        }else{
          $("ul.child-cat").slideUp("fast");
          $("ul.child-cat").removeClass( "active" )
          $(".toggle-child-cat i").removeClass( "fa-minus" );
          $(".toggle-child-cat i").addClass( "fa-plus" );
          $(this).parent().next().addClass( "active" )
          $(this).parent().next().slideDown("fast");
          $(this).children().removeClass( "fa-plus" );
          $(this).children().addClass( "fa-minus" );
        }
      })
    })

</script>
