<% content_for :javascript_includes do %>
  <%= javascript_include_tag  "pgwslideshow.js", "jquery.magnific-popup.js" %>
  <%= stylesheet_link_tag 'pgwslideshow_light.css', "magnific-popup.css" %>
<% end %>

<script type="text/javascript">
  $(window).load(function() {
      $('.pgwSlideshow').pgwSlideshow({
        autoSlide: true,
        transitionEffect: 'fading',
        intervalDuration: 100000,
        mainClassName: 'pgwSlideshowLight'
      });
      $('.ps-current a').addClass("fancybox");
      $('.ps-current a').attr("rel", "gallery1");
      //$(".fancybox").fancybox();
  });

</script>

<div class="page-header">
  <div class="container">
    <div class="col-xs-12 col-sm-6 name no-padding-lr"><%= @product.name %></div>
    <div class="col-xs-12 col-sm-6 breadcrumb">
      <ol class="breadcrumb">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to @category.name.titleize, products_path(@category.permalink) %></li>
        <li class="active"><%= @product.name %></li>
      </ol>
    </div>
  </div>
</div>
<div class="container">
  <%= render :partial => "shared/flash" %>
  <div class="col-xs-12 col-sm-6 product-detail-images">
    <ul class="pgwSlideshow no-padding-lr" id="dodol">
      <%# images = @product.product_images %>
      <% @product_images.each do |product_image| %>
        <li>
          <%= link_to (image_tag product_image.image.url(:medium),
                       :alt => " "),
                       product_image.image.url %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-6 product-detail-info">
    <div class="product-detail-name"><%= @product.name %></div>
    <div class="product-detail-sku"><%= @product.sku.titleize %></div>
    <div class="product-detail-short-description">
      <%= raw simple_format(@product.short_specification) %>
    </div>
  </div>
  <div class="col-xs-12 product-detail-specification">
    <div class="panel with-nav-tabs panel-default">
      <% unless @certificates.blank? %>
        <div class="panel-heading">
          <ul class="nav nav-tabs">
              <li class="active"><a href="#specification" data-toggle="tab">Specification</a></li>
              <li><a href="#certification" data-toggle="tab">Certification</a></li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="specification">
              <%= raw @product.specification %>
            </div>
            <div class="tab-pane fade" id="certification">
              <% @certificates.each do |certificate| %>
                <%= link_to raw("
                  <div class='col-xs-6 col-md-4 col-lg-3 no-padding-lr certificate'>
                    <div class='certificate-image'>
                      #{image_tag certificate.image.url(:medium), :class => "img-responsive"}
                    </div>
                    <div class='certificate-name'>
                      #{certificate.name}
                    </div>
                  </div>
                "), certificate.file.url, :target => "_blank" %>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="panel-heading">
          <ul class="nav nav-tabs">
              <li class="active"><a href="#specification" data-toggle="tab">Specification</a></li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="specification">
              <% @product_specifications.each do |type, files| %>
              <div class="col-xs-12 no-padding-lr" id="<%= 'spec-image' if type.downcase == 'image' %>">
                  <% files.each do |file| %>
                    <% if type.downcase == 'image' %>
                      <div class="col-xs-6 col-sm-3">
                        <div class="product-specification-box">
                          <%= link_to (image_tag file.filename.url(:medium), :class => "img-responsive"),
                                      file.filename.url, :title => file.filename.file.filename %>
                        </div>
                      </div>
                    <% else %>
                      <div class="col-xs-12">
                        <div class="col-xs-12 product-file">
                          <p>
                            <%= link_to file.filename.file.filename, file.filename.url,
                                        :target => "_blank" %>
                          </p>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 product-detail-related-product">
    <h4>Related Product</h4>
    <div class="relared-products">
      <% @related_products.each do |product| %>
        <div class="col-xs-6 col-md-3 product">
          <div class="product-image">
            <% product.product_images.sample(2).each_with_index do |img, x| %>
              <% style = x%2 == 0 ? 'first-img' : 'second-img' %>
              <%= link_to (image_tag img.image.url(:medium), :class => "img-responsive #{style}"),
                        product_detail_path(:cat_permalink => @category.permalink,
                                            :prod_permalink => product.permalink) %>
            <% end %>
          </div>
          <div class="product-name">
            <%= product.name %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#spec-image').magnificPopup({
      delegate: 'a', 
      type:'image',
      gallery:{
        enabled:true
      },
      image: {
        // options for image content type
        titleSrc: 'title'
      }
    });
    $('#dodol').magnificPopup({
      delegate: 'a',
      type:'image',
      gallery:{
        enabled:true
      },
      image: {
        // options for image content type
        titleSrc: 'title'
      }
    });
  });

</script>
