<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Tritunggal</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application', 'owl.carousel.min.js' %>
  <%= yield :javascript_includes %>
  <%= yield :css_includes %>
  <!--[if lt IE 9]>
    <script src="/assets/html5shiv.js"></script>
    <script src="/assets/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body id="home">
  <nav class="navbar navbar-default navbar-fixed <%= manage_menu %>">
    <% unless current_user.nil? %>
      <div class="col-sm-12 user-info-bar">
        <div class="col-md-6 hidden-xs">&nbsp;</div>
        <div class="col-md-6 hidden-xs" id="login-pan">
          <%= raw welcome_text %>
        </div>
      </div>
    <% end %>
    <div class="container">
      <div class='hidden-xs col-sm-4 col-md-4 col-lg-4 bounce_in_left no-padding-l'>
        <%= link_to image_tag("logo.png", :alt => "Logo" , :class => "img-responsive"),
                    root_path %>
      </div>
      <div class="hidden-xs col-sm-8 col-md-8 col-lg-8 no-padding-r">
        <ul role="menu" class="nav navbar-nav navbar-fadeIn">
          <li class="nav-item"><%= link_to "Home", root_path %></li>
          <li class="nav-item dropdown">
            <%= link_to "Products", "javascript:void(0)" %>
            <ul role="menu" class="dropdown-menu">
              <% @categories.each do |cat| %>
                <% unless cat.child_categories.blank? %>
                  <li class="nav-item dropdown-submenu"><%= link_to cat.name, "javascript:void(0)" %>
                    <ul role="menu" class="dropdown-menu">
                      <% cat.child_categories.each do |child_cat| %>
                        <% unless child_cat.child_categories.blank? %>
                          <li class="nav-item dropdown-submenu">
                            <%= link_to child_cat.name, "javascript:void(0)" %>
                            <ul role="menu" class="dropdown-menu">
                              <% child_cat.child_categories.each do |gs_child| %>
                              <li class="nav-item">
                                <%= link_to gs_child.name, products_path(gs_child.permalink) %>
                              </li>
                              <% end %>
                            </ul>
                          </li>
                        <% else %>
                          <li class="nav-item">
                            <%= link_to child_cat.name, products_path(child_cat.permalink) %>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  </li>
                <% else %>
                  <li class="nav-item"><%= link_to cat.name, products_path(cat.permalink) %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
          <li class="nav-item"><%= link_to "Certificates", certificates_path %></li>
          <li class="nav-item"><%= link_to "News", news_path %></li>
          <li class="nav-item"><%= link_to "About Us", about_us_path, :class=>"dodol2" %></li>
          <li class="nav-item"><%= link_to "Contact Us", contact_us_path %></li>
        </ul>
      </div>
    </div>
  </nav>


  <section id="section" class="<%= manage_banner %>">
    <%= yield :banner %>
    <%= yield %>
  </section>

  <footer id="footer-menu">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 footer-logo">
          <%= link_to (image_tag 'logo-black.png', :alt => "Tritunggal Swarna", :class => "img-responsive"),
                      root_path, :class => "footer-brand col-xs-12 " %>
        </div>
        <div class="col-xs-12 col-sm-8">
          <ul class="ct-menu-footer list-unstyled col-xs-12">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Products", products_path(Category.try(:first_parent).try(:permalink)) %></li>
            <li><%= link_to "Certificates", certificates_path %></li>
            <li><%= link_to "News", certificates_path %></li>
            <li><%= link_to "About Us", about_us_path %></li>
            <li><%= link_to "Contact Us", contact_us_path %></li>
          </ul>
        </div>
      </div>
      <div class="row footer-address">
        <div class="col-xs-12 col-sm-4 office">
          <b><i class="fa fa-map-marker" aria-hidden="true"></i>
          Office :</b><br />
          Jl. Tamblong No 2, Bandung<br />
          Jawa Barat, Indonesia<br />
          Phone (022) 421-8800<br />
          Fax (022) 420-8001<br />
          info@tritunggalswarna.co.id<br />
        </div>
        <div class="col-xs-12 col-sm-4 factory1">
          <b><i class="fa fa-map-marker" aria-hidden="true"></i>
          Warehouse 1 :</b><br />
          Jl. Sukamenak RT 01 RW 03<br />
          Kel. Sukamenak, Kec. Margahayu<br />
          Bandung 40227<br />
          Jawa Barat, Indonesia<br />
        </div>
        <div class="col-xs-12 col-sm-4 factory2">
          <b><i class="fa fa-map-marker" aria-hidden="true"></i>
          Warehouse 2 :</b><br />
          Jl. Pajajaran No. 3<br />
          (Jalan Raya Sumedang – Cirebon Km. 11)<br />
          Desa Legok Kaler, Kec. Paseh<br />
          Kabupaten Sumedang 45381<br />
          Jawa Barat, Indonesia<br />
        </div>
      </div>
    </div>
  </footer>
  <footer id="footer-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          &copy; 2016 PT Tritunggal Swarna
        </div>
      </div>
    </div>
  </footer>
  <!--/#footer-->

  <!-- Mobile Menu //-->
  <div class="ct-menu-mobile">
    <nav class="navbar navbar-dark">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-sm-4 hidden-xs">
            <ul class="list-unstyled list-inline ct-socials--rounded">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-9 col-sm-4" style="padding: 15px">
            <div class="navbar-header">
              <%= link_to (image_tag 'logo-black.png', :alt => "Tritunggal Swarna",
                                      :class => "img-responsive"),
                          root_path, :class => "navbar-brand" %>
            </div>
          </div>
          <div class="col-xs-3 col-sm-4" style="padding: 15px">
            <ul role="menu" class="nav navbar-nav"  style="margin-top: 0">
              <li class="nav-item-toggle"><a><i class="fa fa-bars"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="navbar-beacon">
    <ul class="list-unstyled">
      <li class="nav-item"><%= link_to "Home", root_path %></li>
          <li class="nav-item dropdown">
            <%= link_to raw("Products<i class='fa fa-angle-double-down'></i>"), "javascript:void(0)" %>
            <ul role="menu" class="dropdown-menu">
              <% @categories.each do |cat| %>
                <% unless cat.child_categories.blank? %>
                  <li class="nav-item dropdown">
                    <%= link_to raw("#{cat.name}<i class='fa fa-angle-double-down'></i>"),
                                "javascript:void(0)" %>
                    <ul role="menu" class="dropdown-menu">
                      <% cat.child_categories.each do |child_cat| %>
                        <% unless child_cat.child_categories.blank? %>
                          <li class="nav-item dropdown">
                            <%= link_to raw("#{child_cat.name}<i class='fa fa-angle-double-down'></i>"),
                                        "javascript:void(0)" %>
                            <ul role="menu" class="dropdown-menu">
                              <% child_cat.child_categories.each do |gs_child| %>
                              <li class="nav-item">
                                <%= link_to gs_child.name, products_path(gs_child.permalink) %>
                              </li>
                              <% end %>
                            </ul>
                          </li>
                        <% else %>
                          <li class="nav-item">
                            <%= link_to child_cat.name, products_path(child_cat.permalink) %>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  </li>


                  <%#*<li class="nav-item">%>
                    <%#= link_to cat.name, products_path(cat.try(:first_child).try(:permalink)) %>
                  <%#*</li>%>
                <% else %>
                  <li class="nav-item"><%= link_to cat.name, products_path(cat.permalink) %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
          <li class="nav-item"><%= link_to "Certificates", certificates_path %></li>
          <li class="nav-item"><%= link_to "News", certificates_path %></li>
          <li class="nav-item"><%= link_to "About Us", about_us_path %></li>
          <li class="nav-item"><%= link_to "Contact Us", contact_us_path %></li>
<!--
      <%#*<li class="nav-item dropdown">%>
        <%#= link_to raw("Home<i class='fa fa-angle-double-down'></i>"), root_path %>
        <%#*<ul role="menu" class="dropdown-menu">%>
          <%#*<li class="nav-item"><%= link_to "Smartwatch" %></li>%>
          <%#*<li class="nav-item active"><%= link_to "Drone" %></li>%>
          <%#*<li class="nav-item"><%= link_to "Beacon" %></li>%>
          <%#*<li class="nav-item"><%= link_to "Vr mask" %></li>%>
        <%#*</ul>%>
      <%#*</li>%>
      <%#*<li class="nav-item"><%= link_to "Products", products_path %></li>%>
      <%#*<li class="nav-item"><%= link_to "Certificates", products_path %></li>%>
      <%#*<li class="nav-item"><%= link_to "About Us", products_path %></li>%>
      <%#*<li class="nav-item"><%= link_to "Contact Us", products_path %></li>%>-->
    </ul>
  </div>

</body>
</html>
